<div
  [ngClass]="{ '!left-0': state.isMenuOpen() }"
  class="bg-todo_primary-0 w-[300px] h-screen fixed left-[-246px] transition-all duration-500 pl-5 pr-2"
>
  <div class="flex justify-between items-end py-4 mt-3">
    <h1 class="text-3xl font-bold leading-7 text-todo_primary-900">Menu</h1>
    <button
      [ngClass]="{ disabled: state.isMenuOpen() }"
      (click)="state.toggleMenuMenu()"
      class="group flex flex-col gap-1 items-center p-2 rounded-md"
    >
      <div
        class="w-5 bg-todo_primary-600 h-[2px] text-gray group-[.disabled]:rotate-45 group-[.disabled]:-translate-y-[1px] transition-all origin-left duration-100"
      ></div>
      <div
        class="w-5 bg-todo_primary-600 h-[2px] text-gray group-[.disabled]:bg-todo_primary-0"
      ></div>
      <div
        class="w-5 bg-todo_primary-600 h-[2px] text-gray group-[.disabled]:-rotate-45 group-[.disabled]:translate-y-[1px] transition-all origin-left duration-100"
      ></div>
    </button>
  </div>

  <!-- Search  -->
  <div
    [ngClass]="{ 'border-todo-bg-todo_primary-0': !state.isMenuOpen() }"
    class="relative border rounded-md transition-all duration-500 mr-[10px]"
  >
    <input
      [ngClass]="{ hidden: !state.isMenuOpen() }"
      placeholder="Search"
      type="text"
      class="w-full bg-todo_primary-0 p-2 pl-10 rounded-md outline-none appearance-none"
    />
    <div [ngClass]="{ hidden: state.isMenuOpen() }" class="h-10 w-full"></div>
    <img
      [ngClass]="{ '!-right-2': !state.isMenuOpen() }"
      src="../../../assets/icons/search.svg"
      class="transition-all duration-500 absolute w-6 top-2 right-56 text-white focus:border-none fill-white"
    />
  </div>
  <!-- Search End  -->

  <!-- Tasks -->

  <ng-container
    *ngTemplateOutlet="
      listTemplate;
      context: {
        title: 'TASKS',
        items: [
          {
            name: 'Upcoming',
            icon: 'upcoming.svg',
            counter : true,
            counterValue: 11,
            link: '/upcoming'
          },
          {
            name: 'Today',
            icon: 'daily.svg',
            counter : true,
            counterValue: 2,
            link: '/today'
          },
          {
            name: 'Calender',
            icon: 'calender.svg',
            link: '/calender'
          },
          {
            name: 'Sticky Wall',
            icon: 'note.svg',
            link: '/sticky-wall'
          },
        ],
        addItem: false
      }
    "
  ></ng-container>

  <!-- Tasks End -->

  <!-- Lists -->

  <ng-container>
    <ng-container
      *ngTemplateOutlet="
        listTemplate;
        context: {
          title: 'LISTS',
          items: listService.lists,
          addItem: true
        }
      "
    >
    </ng-container>
  </ng-container>

  <button
    (click)="openListTags()"
    class="py-4 px-3 flex hover:bg-white rounded-md w-full transition-all duration-100"
  >
    <img src="../../../assets/icons/plus.svg" class="w-6" />
    <span class="ml-2">Add New List</span>
  </button>

  <tags-list-form [fromTag]="false"></tags-list-form>

  <!-- Lists End -->

  <div
    [ngClass]="{ '!-mt-0': tagState.listTagsMenuOpen() }"
    class="transition-all bg-todo_primary-0 absolute -mt-[106px] w-full -ml-5 pl-4 z-10 pr-12 duration-200"
  >
    <!-- Tags  -->
    <slm-tags></slm-tags>
    <!-- Tags End -->

    <!-- Settings -->
    <div class="mt-20">
      <ng-container
        *ngTemplateOutlet="
          settings;
          context: {
            items: [
              {
                name: 'Settings',
                icon: 'settings.svg',
                login: true,
                function: state.toggleSettingsMenu
              },
              { name: 'Sing Out', icon: 'logout.svg', login: true },
              { name: 'Login In', icon: 'login.svg', login: false }
            ]
          }
        "
      >
      </ng-container>
    </div>
    <!-- Setting End -->
  </div>
  <div
    [ngClass]="{ '!left-0': state.isSettingsOpen() }"
    class="bg-todo_primary-0 top-0 z-10 w-[300px] h-full  fixed left-[-300px] transition-all duration-500 "
  >
    <slm-settings></slm-settings>
  </div>
</div>

<ng-template
  #listTemplate
  let-items="items"
  let-title="title"
  let-icon="icon"
  let-addItem="addItem"
>
  <h1 class="font-medium text-sm text-todo_primary-900 pl-2 mt-8">{{ title }}</h1>
  <ng-container *ngFor="let item of items">
    <list-components
      (click)="$event.preventDefault()"
      [routerLink]="item.link" 
      [name]="item.name"
      [icon]="item.icon"
      [color]="item.color"
      [counter]="item.counter"
      [counterValue]="item.counterValue"
      [isMenuOpen]="state.isMenuOpen()"
    ></list-components>
  </ng-container>
</ng-template>

<ng-template #settings let-items="items">
  <ng-container *ngFor="let item of items">
    <ng-container *ngIf="item.login">
      <button
        (click)="item.function()"
        class="flex items-center hover:bg-white rounded-md py-4 px-4 transition-all"
      >
        <img src="../../../assets/icons/{{ item.icon }}" class="w-6" />
        <span class="ml-2">{{ item.name }}</span>
      </button>
    </ng-container>
  </ng-container>
</ng-template>
