:root {
    --slm-primary: #F4F4F4;
    --slm-primary-100: #EBEBEB;
    --slm-primary-200: #D9D9D9;
    --slm-primary-300: #c6c6c6;
    --slm-primary-400: #a1a1a1;
    --slm-primary-500: #8e8e8e;
    --slm-primary-600: #7C7C7C;
    --slm-primary-700: #696969;
    --slm-primary-800: #3d3d3d;
    --slm-primary-900: #444444;
    
    
    --slm-list-red: #FF6B6B;
    --slm-list-pink: #DA77F2;
    --slm-list-purple: #9775FA;
    --slm-list-blue: #5C7CFA;
    --slm-list-turquise: #66D9E8;
    --slm-list-green: #8CE99A;
    --slm-list-yellow: #FFD43B;
    --slm-list-orange: #FF922B;
}