<div class="w-full">
    <div class="flex justify-between ">
        <div class="flex w-full items-center text-lg">
            <input type="checkbox" class="w-6 h-6  rounded-md border m-6">
            <span class="w-full flex">{{ contextHeader }}</span>
        </div>
        <img src="../../../../assets/icons/chevron-right.svg" class="w-8">
    </div>
    <div >
        <div class="flex gap-2">
            <img src="../../../../assets/icons/calender-day.svg" class="w-6">
            <span class="">22-03-22</span>
        </div>
        <div>

        </div>
    </div>
</div>