<a
  href=""
  [ngClass]="{ 'hover:bg-white': isMenuOpen }"
  class="flex w-full items-center justify-between relative hover:bg-white rounded-md transition-all"
>
  <div [ngClass]="{ '!px-0': !isMenuOpen }" class="flex items-center py-3 px-1">
    <a
      href=""
      [ngClass]="{ 'hover:bg-white bg-lis': !isMenuOpen }"
      class="px-2 py-1 rounded-md"
    >
      <div [ngClass]="[!icon ? color : '']" class="rounded">
        <img
          *ngIf="icon"
          [ngClass]="{
            '!right-1 z-10 hover:bg-gray1-400/25 duration-100 rounded-md':
              !isMenuOpen
          }"
          src="../../assets/icons/{{ icon }}"
          class="fill-white text-white w-6 absolute transition-all duration-500 right-[236px]"
        />
        <div class="w-6 h-6"></div>
      </div>
    </a>
    <h1 class="text-base">{{ name }}</h1>
  </div>
  <a
    href=""
    [ngClass]="{
      'rounded-3xl scale-75 px-[2px] !mr-0 !-mt-5 !-ml-2 z-20':
        !isMenuOpen && icon,
      '-mr-[2px]': !icon && !isMenuOpen
    }"
    *ngIf="counter"
    class="text-gray1-400 bg-gray1-200 transition-all duration-500 mr-2 -mt-0 -ml-3 px-3 py-[1px] text-base rounded-md"
  >
    0
  </a>
</a>
